<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer">
    <footer>
        <section class="footer">
            <div class="about-me">
                <p>作品名稱 : 2021 鐵人賽參賽作品</p>
                <p>設計者 : 詹凱鈞</p>
                <p>連絡電話 : 0987654231</p>
                <p>電子信箱 : worktolife0829@gmail.com</p>
            </div>
            <div class="github-link">
                <a href="https://github.com/KaiJun945/spring-boot-demo" target="_blank"><img th:src="@{/images/github-logo.png}"></a>
            </div>
        </section>
    </footer>
</body>
</html>