<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="com.example.demo.mapper.DistrictMapper" >    
    <select id="findDistrictByC_id" resultType="com.example.demo.entity.District">
    	SELECT 
	    	ID, C_ID, NAME
	    FROM 
       		test_project.district
       	WHERE 
       		C_ID = #{c_id}
    </select>
</mapper> 