@charset "UTF-8";

main {
    width: 480px;
    color: #444;
    
    text-align: center;
    margin: 80px auto;
}

main h1 {
    font-size: 36px;
    font-weight: 600;
}

main form {
    display: grid;
}

.form-input {
    text-align: left;
    margin-top: 32px;
}

.form-input .input-area {
    height: 40px;
    background-color: #FFF;
    margin-top: 8px;

    display: flex;
    align-items: center;
}

.form-input .input-area input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding: 0px 8px;
}

main form button {
    width: 60%;
    height: 40px;
    background-color: #444;
    border: 1px solid #444;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    margin: 64px auto 16px;
}

main form button:hover {
    background-color: #000;
    border: 1px solid #000;
    cursor: pointer;
}