<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改密碼</title>
    <head th:insert="load/css :: css"></head>
    <head th:insert="load/js :: js"></head>
    <link rel="stylesheet" th:href="@{/css/modifyPassword.css}">
</head>
<body>
    <section th:replace="load/header :: header"></section>

    <section class="main-content">
        <div class="content">
            <main>
                <h1>修改密碼</h1>
        		<form id="modifyPasswordForm" method="POST" th:action="@{/modifyPassword}" enctype="multipart/form-data" autocomplete="off">
                    <section class="form-input">
                        <label>舊密碼</label>
                        <div class="input-area">
                            <input type="password" id="oldPassword" name="oldPassword" maxlength="16" placeholder="請輸入您的舊密碼"/>
                        </div>
                    </section>
                    <section class="form-input">
                        <label>新密碼</label>
                        <div class="input-area">
                            <input type="password" id="password" name="password" maxlength="16" placeholder="請輸入您的新密碼"/>
                        </div>
                    </section>
                    <section class="form-input">
                        <label>再次輸入新密碼</label>
                        <div class="input-area">
                            <input type="password" id="checkPassword" name="checkPassword" maxlength="16" placeholder="請再次輸入您的新密碼"/>
                        </div>
                    </section>
                    <button>儲存</button>
                </form>
            </main>        
        </div>
    </section>

    <section th:replace="load/footer :: footer"></section>
    <script th:src="@{/js/modifyPassword.js}"></script>
</body>
</html>